@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 100% 98%; /* #f5f5ff */
    --foreground: 253 45% 24%; /* #2a1c5b */

    --card: 0 0% 100%;
    --card-foreground: 253 45% 24%;

    --popover: 0 0% 100%;
    --popover-foreground: 253 45% 24%;

    --primary: 260 100% 68%; /* #a85eff */
    --primary-foreground: 0 0% 100%;

    --secondary: 240 20% 94%;
    --secondary-foreground: 253 45% 24%;

    --muted: 240 20% 94%;
    --muted-foreground: 240 5% 45%;

    --accent: 220 100% 70%; /* #6699ff */
    --accent-foreground: 253 45% 24%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 10% 90%;
    --input: 0 0% 100%;
    --ring: 260 100% 68%;

    --radius: 0.8rem;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222 47% 11%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 217 33% 17%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 213 94% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: linear-gradient(135deg, #e9e3ff 0%, #d1f3ff 100%);
  }
  section {
    @apply w-full py-12 md:py-20 lg:py-28;
  }
}
